<!DOCTYPE html>
<html>
	<head>
		<title> Ticket to ride</title>
		<meta charset="UTF-8">
		<meta name="description" content="Ticket to ride"> <meta name="author" content="Rafael">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
 	</head>

	<body>
		<h1> Ticket to Ride - Salas de jogos </h1>
		
		<div class="flex-container">

			<div> 
				<img src="{{ url_for('static', filename='capa.jpg') }}" alt="Ticket to ride screen" style="float:left;width:500px;height:500px;"> 
			</div>
			<div>
				<h2> Salas abertas </h2>
				<p> Escolha uma sala aberta para entrar. O anfitrião deve ter lhe fornecido a senha. </p>
				<div class="vertical-menu">
		  			{% if sala.nome %}
		  				<a href="#">{{ sala.nome }}</a>
		  			{% else %}
		  				<a href="#"> Não há salas abertas </a>
		  			{% endif %}
				</div>
				<form method = "POST" action = "{{ url_for('inicio') }}">
		 			<label for="room_pswd">Senha da sala:</label><br>
		  			<input type="text" id="room_pswd" name="room_pswd"> 
		  			<input type="submit" value="Entrar"> 
		  		</form>

				<h2> Criar nova sala </h2>
				<p> Crie uma nova sala para jogar, fornecendo os dados abaixo: </p>
				<form method = "POST" action = "{{ url_for('inicio') }}">
		  			<label for="room_name">Nome da sala:</label><br>
		  			<input type="text" id="room_name" name="room_name"><br>
		 			<label for="room_pswd">Senha da sala:</label><br>
		  			<input type="text" id="room_pswd" name="room_pswd"> 
		  			<input type="submit" value="Criar Jogo"> 
				</form>
			</div>
		</div>
	</body>
</html>